body {
    background-image: url(../images/image3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #133B44;
    text-align: center;
    font-size: 4em;
    padding-top: 60px;
    font-family: 'Archivo Black', sans-serif;
}

.container {
    justify-content: center;
    display: flex;
    white-space: pre-line;
}

.colors_container {
    padding-top: 2%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    white-space: pre-wrap;
}

upload {
    white-space: pre-line;
    position:relative;
}

.flash {
    position: absolute;
    display: table;
    white-space: nowrap;
    margin-top: 5%;
}


.flashes {
  color: #6D4040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.main_image {
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
}

.number {
    position: relative;
    justify-content: center;
    align-items: center;
    display: table;
    flex-wrap: wrap;
    white-space: pre-line;
    width:50%;
    margin: 0 auto 0 auto;
}

label{
    font-family: 'Archivo Black', sans-serif;
    color: #133B44;
    font-weight: bold;
}

.uploadform {
    margin-top: 40%;
}

